* {margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body{
    background-image: url(img/background.png);
    background-size: cover;
    font-family: 'Mate SC', serif;
    color: #FFC106;
    background-position-y: -250px;
    overflow-x:hidden ;
}

/* Judul */

.judul{
    font-size: 110px;
    text-align: center;
    margin-top: 180px;
    text-shadow: 10px 8px 8px black;
    letter-spacing: 20px;
}

.judul .klasik{
    color: #7CB8FF;
    font-size: 200px;
}

.judul .waktu{
    align-self:flex-start;
    margin-left: 260px;
    text-align: left;
}

/* Footer */

.footer{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3.text{
    color: white;
    letter-spacing: 8px;
    font-size: 25px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    font-style: italic;

    
}

/* Side Nav */

.nav{
    position: absolute;
    top: 80px;
    width: 10%;
    right: 0;
    height: 80vh;
    /* border: 5px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.nav ul li img{
    width: 150px;
}

.nav ul li:nth-child(even){
    transform: translateX(100%);
}

.nav ul li{
    transition: all .5s;
}

.nav li.logo1:hover ~ li:nth-child(2){
    transform: translateX(0);
    
}
.nav li.logo2:hover ~ li:nth-child(4){
    transform: translateX(0);
    
}